.spotDetailContainer{
    display: flex;
    flex-direction: column;
    

    margin: 5px;
    padding: 5px;
}

.spotinformation{
  display: flex;
  flex-direction: column;
  /* justify-content: left; */
  /* align-items:start; */
  padding: 5px;
}

.spotDetail {
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
}

  
  .spotDetail .leftImage{
    width: 50%;
  
  }

  .leftImage{
    display: flex;
    justify-content:left;
  }
  .leftImage img{
    width: 680px;
    height: auto;
    padding: 5px;
    border-radius: 20px 0px 0px 20px;
  }
  /* .rightImages{
    width: 50%;
 
    display: flex;
    justify-content:right;
    flex-wrap: wrap;
  } */


  .rightImages{

 
    display: grid;
    grid-template-areas:
    "tl tr"
    "bl br";

  }

  .tl {
    grid-area: tl;
  }
  .tr {
    grid-area: tr;
  }
  .bl {
    grid-area: bl;
  }
  .br {
    grid-area: br;
  }
  
  .rightImages img{
    width: 290px;
    height: 200px;
    padding: 5px;
    /* flex: 1; */
  }

  .rightImages .tr{
    border-top-right-radius: 20px;
  }

  .rightImages .br{
    border-bottom-right-radius: 20px;
  }

  .reviewSummaryInfo{
    display: flex;
    justify-content: space-between;
  }

  .reviewSummaryInfo .hostDetails{
    width: 70%;

  }

  .reviewSummaryInfo .callOutInfo{
    width: 20%;
    border: solid black 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .callOutInfo .spotdetailInfoCallout{
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  .callOutInfo .reserveIt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  .spotdetail-reserve-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 5px 20px;
    /* padding-left: 10px; */
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    box-shadow: 2px 4px;
  }

  .horizontal-line {
    border: none;
    height: 1px;
    background-color: black;
    margin: 20px 0; /* Adjust margin as needed */
  }

  /* @media screen and (min-width: 1441px) {
    .spotDetailContainer{
      width: 1440px;
      display: flex;
      justify-content: center;
      
    }

    body{
      display: flex;
      justify-content: center;
    }
  } */



  @media screen and (max-width: 767px) {
    /* Media query for smartphones */
  
    .spotDetailContainer {
      padding: 5; 
      margin: 5; 
      width: 95%; 
    }
  
    .spotinformation {
      padding: 10px; 
    }
  
    .spotDetail{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .spotDetail .leftImage{
      width: 100%;
    }
    .leftImage .imgLeft {
      width: 100%; 
      border-radius: 0; 
      
    }
  
    .rightImages {
      grid-template-areas: "tl" "tr" "bl" "br"; 
    }
  
    .rightImages .tl,
    .rightImages .tr,
    .rightImages .br,
    .rightImages .bl {
      width: 100%; 
      height: auto; 
      border-radius: 0; 
    }
  
    .reviewSummaryInfo {
      flex-direction: column; 
      align-items: center; 
    }
  
    .reviewSummaryInfo .hostDetails {
      width: 100%; 
      margin-bottom: 20px; 
    }
  
    .reviewSummaryInfo .callOutInfo {
      width: 100%; 
    }
  
    .spotdetail-reserve-button {
      width: 100%; 
    }
  
    .horizontal-line {
      margin: 10px 0;
    }
  }