.signup{
    padding: 5px;
    margin: 5px;
}

.form{
    padding: 5px;
    margin: 5px;
}

.form-label{
    padding: 5px;
    margin: 5px;
}

.input{
    padding: 5px;
    margin: 5px;
}

.form-error-message{
    padding: 5px;
    margin: 5px;
}

.signup-form-button{
    padding: 5px;
    margin: 5px;
}

