.theSpotContainer {
  display: flex !important;
  justify-content: center !important;
  padding: 1rem 3rem;
  row-gap: 3rem !important;
  position: relative;
  z-index: 0;
}



.individualSpotContainer{ 
  display: flex !important;
  position: relative !important;
  border-radius: 1rem;
  margin: 5px;
  padding: 5px;
  width: 290px;
  height: auto;
  color: aquamarine;
}

.spotPhoto img{
  border-radius: 1rem;
  width: 290px;
  height: 200px;
}

.spotInfo{
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.city-and-rating{
  display: flex;
  justify-content: space-between;
}

.nav-link{
  display: flex;
  flex-direction: column;
}



/* 
.mySwiper{
  z-index: 0;
  display: flex;
  
} */

.swiper-button-next {
  display: none !important;

  
}

.swiper-button-prev {
  display: none !important;

  
}

.spotPhoto:hover .swiper-button-prev{
  display: flex !important;

  background-image: url("/prev.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: box-shadow 0.5s;
  border-radius: 50px;
  color: bisque;
}
.spotPhoto:hover .swiper-button-next{
  display: flex !important;
  background-image: url("/next.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: box-shadow 0.5s;
  border-radius: 50px;
  color: bisque;
}
.swiper-button-next:hover{
  box-shadow: 0 0 20px rgba(154, 228, 6, 0.8);
}

.swiper-button-prev:hover{
  box-shadow: 0 0 2px rgba(6, 113, 228, 0.8);
  color: antiquewhite;
}

.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}


@media screen and (min-width: 1441px) {
  .theSpotContainer{
    width: 1440px;
    display: flex;
    justify-content: center;
    
  }
}