.profileIcon{
    display: flex;
    align-items: center;
    transition: box-shadow 0.5s;
    border: 1px solid rgb(212, 221, 229);
    border-radius: 40px;
    padding: 5px;
 
}
.fa-user-circle{
    padding: 5px;
    border-radius: 50%;
    border: none;
    color: rgb(162, 153, 139);
}

.fa-bars{
    padding: 5px 10px 5px;
    color: rgb(162, 153, 139);
}


.profileIcon:hover{
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.5);
}

.toggle-button{
    border: none;
    background-color: rgb(255, 255, 255);
}

.profile-dropdown{
    position: fixed;
    z-index: 100;
}